<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560141006744-4k92q8iquo095fs1bnm4p5mom1mcta0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560141006744-4k92q8iquo095fs1bnm4p5mom1mcta0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCweWioU1D2ojt57Hn-9GKtjYujf6nJcnE</string>
	<key>GCM_SENDER_ID</key>
	<string>560141006744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>hermes-165a2</string>
	<key>STORAGE_BUCKET</key>
	<string>hermes-165a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560141006744:ios:3281cb2d2450bdb96f1ded</string>
</dict>
</plist>